/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

 :root{
  --gold1: #ffc107;
  --gold2: #f44336;
  --gray: #e3f2fd;
  --gray2: #f7d9d990;
  --black1: #1A1B1F;
  --black2: #30353B;
  --shadow: 0 8px 8px;
  --color_shadow: #00000033;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding:100px 0;
  height: auto;
}

.container--modifier{
  width: 60%;
}